#visual {
  background: url("leaves.jpg");
  background-size: cover;
  width: 50vh;
}

#signup {
  margin-left: 50px;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}
#form {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}
